autogui/*
alg/zad2/arraylist.x
alg/zad2/arraylist.x
java/8/tst/PMO_Easy.java
java/8/tst/PMO_EasyParameter.java
java/8/tst/PMO_MultipleMethods.java
java/8/tst/PMO_Null.java
java/8/tst/PMO_TestBaseClass.java
java/8/tst/MethodDisabled(1).java
java/8/tst/StringParameter(1).java
java/8/tst/MethodToStart(1).java
java/8/tst/Start.java
num/list/lista1.pdf
num/list/core
num/list/lista2.pdf
num/list/lista3.pdf
num/list/lista4.pdf
num/list/lista5.pdf
num/list/lista6.pdf
